<div class="featured_links_style-- container feat_list">
  <div class="sixteen columns featured_links">
    {% if block.settings.fl_1_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_1_image | img_url: '1024x' }}" alt="{{ block.settings.fl_1_image.alt }}" />
            <span>{{ block.settings.fl_1_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_1_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_2_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_2_image | img_url: '1024x' }}" alt="{{ block.settings.fl_2_image.alt }}" />
            <span>{{ block.settings.fl_2_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_2_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_3_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_3_image | img_url: '1024x' }}" alt="{{ block.settings.fl_3_image.alt }}" />
            <span>{{ block.settings.fl_3_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_3_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_4_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_4_image | img_url: '1024x' }}" alt="{{ block.settings.fl_4_image.alt }}" />
            <span>{{ block.settings.fl_4_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_4_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_5_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_5_image | img_url: '1024x' }}" alt="{{ block.settings.fl_5_image.alt }}" />
            <span>{{ block.settings.fl_5_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_5_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_6_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_6_image | img_url: '1024x' }}" alt="{{ block.settings.fl_6_image.alt }}" />
            <span>{{ block.settings.fl_6_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_6_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_7_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_7_image | img_url: '1024x' }}" alt="{{ block.settings.fl_7_image.alt }}" />
            <span>{{ block.settings.fl_7_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_7_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_8_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_8_image | img_url: '1024x' }}" alt="{{ block.settings.fl_8_image.alt }}" />
            <span>{{ block.settings.fl_8_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_8_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_9_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_9_image | img_url: '1024x' }}" alt="{{ block.settings.fl_9_image.alt }}" />
            <span>{{ block.settings.fl_9_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_9_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_10_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_10_image | img_url: '1024x' }}" alt="{{ block.settings.fl_10_image.alt }}" />
            <span>{{ block.settings.fl_10_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_10_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_11_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_11_image | img_url: '1024x' }}" alt="{{ block.settings.fl_11_image.alt }}" />
            <span>{{ block.settings.fl_11_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_11_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if block.settings.fl_12_image != nil %}
      <div class="section clearfix feat-rel">
        <div class="one-third column alpha">
          <div class="image_container">
            <img src="{{ block.settings.fl_12_image | img_url: '1024x' }}" alt="{{ block.settings.fl_12_image.alt }}" />
            <span>{{ block.settings.fl_12_ovrly_txt }}</span>
          </div>
        </div>
        <div class="two-third column omega">
          <div class="text_wrapper">
            <div class="text_container">
              {{ block.settings.fl_12_content }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>


